{% extends "base.html" %}

{% block title %}Главная | Водить.РФ{% endblock %}

{% block content %}
<div class="text-center max-w-3xl">
    <h1 class="mb-6 drop-shadow-sm">Морские горизонты открыты для вас</h1>
    <p class="text-lg mb-10">Простое и удобное бронирование морского транспорта. Запишитесь на занятия в пару кликов
        прямо сейчас и покоряйте волны вместе с нами.</p>

    <div class="flex gap-4 justify-center mt-8">
        <a href="/register"
            class="bg-primary hover:bg-accent text-white px-8 py-3 rounded-lg text-[16px] font-medium transition-all shadow-md hover:shadow-lg transform hover:-translate-y-1">Начать
            путешествие</a>
        <a href="/login"
            class="bg-white border-2 border-primary text-primary hover:border-accent hover:text-accent px-8 py-3 rounded-lg text-[16px] font-medium transition-all">Войти
            в аккаунт</a>
    </div>
</div>
{% endblock %}